<div fxFlex="row" class="footer-wrapper" fxLayoutAlign="center">
    <div class="footer" fxLayout="row" fxLayoutAlign="start center">
        <span fxFlex></span>
        <div fxLayout="column" fxLayoutAlign="space-evenly center">
            <img class="logo" src="assets/image/logo-white.png">
            <p style="padding-top: 15px;" class="copyRight">Copyright © 2021 NAF TACKLE. All Rights Reserved.</p>
        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="space-around end">
            <div class="contact">
                <div class="external-images" fxLayout="row" fxLayoutAlign="space-evenly center">
                  <a href="https://www.facebook.com/Naftackle-104894968221388">
                    <img src="assets/image/menu/FB ICON.png" />
                  </a>
                  <a href="https://www.instagram.com/naftackle/">
                    <img src="assets/image/menu/INS ICON.png" />
                  </a>
                </div>
                <p class="copyRight">
                    <a style="color: white; text-decoration: none;" [routerLink]="'/contact'">Contact Us</a>
                </p>
            </div>

        </div>

    </div>
</div>
