@import '../../../@es/styles/var';  
.news-board-wrapper{
    .news-board{
        box-shadow: $widget-box-shadow;
        padding: $widget-padding;
        .news-board-header{
            font-size: 20px;
            font-weight: 700;
            line-height: 22px;
            color: #383838;
            padding-bottom: 18px;
            border-bottom: 1px solid #a1a1a1;
        }
        .news-board-content{
            
        }
    }
    .news-board-shadow-image{
        width: 100%;
    }
}
