@import '../../../@es/styles/var';
@import '../../../@es/styles/swift';  

/*Item*/
.sidenav-item {
     transition: background-color $swift-ease-out-duration $swift-ease-out-timing-function;
     .sidenav-item-link {
        height: $sidenav-item-height;
        padding-left: $sidenav-item-padding-left;
        padding-right: $sidenav-item-padding-right;
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
        white-space: nowrap;
        text-decoration: none;
        border-top-right-radius: $sidenav-item-height / 2;
        border-bottom-right-radius: $sidenav-item-height / 2;
        margin-right: $sidenav-item-margin-right;
        transition: background-color $swift-ease-out-duration $swift-ease-out-timing-function;
        color: white;
        &:hover{
          background: $sidenav-item-background-hover;
          color: $sidenav-item-color-hover;
    
          .text-icon {
            color: inherit;
          }
        }

        &.active{
          background: $sidenav-item-background-active;
          color: $sidenav-item-color-active;

          .text-icon{
            color: inherit;
          }
        }

        .icon {
          width: $sidenav-item-icon-size;
          height: $sidenav-item-icon-size;
          font-size: $sidenav-item-icon-size;
          line-height: $sidenav-item-icon-size;
          
        }

        .text-icon {
          width: $sidenav-item-icon-size;
          height: $sidenav-item-icon-size;
          line-height: $sidenav-item-icon-size;
          text-align: center;
          color:rgba(255, 255, 255, 0.5);
        }

        .name {
          padding-left: $sidenav-item-padding-left;
          &.subItem{
            margin-left: 10px;
          }
        }


        .expand-indicator {
          transition: transform .25s cubic-bezier(.35, 0, .25, 1);
          

          &.rotate {
            transform: rotate(-180deg);
          }
        }

        .name, .expand-indicator {
          will-change: opacity;
        }
    }

    .sidenav-subheading {
      border: 1px solid transparent;
      opacity: 1;
      transition: opacity 0.25s ease-in-out;
    
      a {
        color: rgba(255, 255, 255, 0.7);
        height: 40px;
        font-family: Roboto;
      }
    
      .subheading-name {
        align-items: center;
        display: inline-flex;
      }
      
      &.over{
        opacity: 0;
      }
    
    }
  }
  .dropdown {
    position: relative;
    overflow: hidden;
  }
  


