<app-content>
    <img style="width:100%" src="assets/image/value/VALUE BANNER.jpg" />
    <div class="concept-wrapper" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="concept" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <div class="description">
                <p class="title">ECO FRIENDLY</p>
                <p class="content">
                    NAF environmental sinkers will help reduce the use of lead products. The Earth is our only home and it is our duty to protect our environment for ourselves and future generations.
                </p>
            </div>
            <img style="width: 400px;" src="assets/image/value/ECO FRIENDLY.jpg">
        </div>
        <div class="concept" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <img style="width: 400px;" src="assets/image/value/LEAD FREE.jpg">
            <div class="description">
                <p class="title">LEAD FREE</p>
                <p class="content">
                    NAF sinkers are all biodegradable and environmentally friendly. This makes NAF one of the greenest ways to fish.
                </p>
            </div>
        </div>
        <div class="concept" fxLayout="row wrap" fxLayoutAlign="space-evenly center">
            <div class="description">
                <p class="title">NEW CONCEPT</p>
                <p class="content">
                    NAF is revolutionary by creating high density lead- free sinkers. The PFS material allows eco-friendly NAF sinkers to be an affordable replacement for lead sinkers.

                </p>
            </div>
            <img style="width: 400px;" src="assets/image/value/VALUE 3.jpg">
        </div>
    </div>
</app-content>