<header-menu-item *ngFor="let i of items" [item]="i"></header-menu-item>
<span></span>
<mat-divider vertical></mat-divider>
<div fxLayout="row" fxLayoutAlign="center center" class="external-container">
  <div class="external-icons">
    <a href="https://www.facebook.com/Naftackle-104894968221388">
      <img class="external-icon" src="assets/image/menu/FB ICON.png" />
    </a>
    <a href="https://www.instagram.com/naftackle/">
      <img class="external-icon" src="assets/image/menu/INS ICON.png" />
    </a>
  </div>
</div>
