<div  [ngStyle]="getHeight()" class="fb-board-wrapper" [class.mobile]= "mobile$ | async">
    <div class="fb-board">
        <div class="fb-board-header" fxLayout="row" fxLayoutAlign="start center">
            <img class="fb-icon" src="assets/home_icon_facebook.png">
            FACEBOOK
        </div>
        <div class="fb-board-content" [class.mobile]="mobile$ | async" fxLayout="column" fxLayoutAlign="center stretch">
            <div class="fb-post" data-href="https://www.facebook.com/DUOJPN/posts/4519878274750428"
                data-show-text="true" data-width="">
                <blockquote cite="https://www.facebook.com/DUOJPN/posts/4519878274750428" class="fb-xfbml-parse-ignore">
                    <p>The full Realis Spinbait collection, 62, 72, 80, 90, 100 in the new CL Dace colour. Which one is
                        your first pick?

                        #realis #spinbait #bassangling #propbait #bassfishing #freshwaterfishing</p>
                </blockquote>
            </div>
            <div class="fb-post" data-href="https://www.facebook.com/DUOJPN/posts/4541911165880472"
                data-show-text="true" data-width="">
                <blockquote cite="https://www.facebook.com/DUOJPN/posts/4541911165880472" class="fb-xfbml-parse-ignore">
                    <p>Field test with the Quattro!
                        DUO pro-staffer Derek Dsouza tries the Spearhead Ryuki Qiuattro 70S.

                        #freshwaterlures #spearheadryuki #ryukiquattro #duointernational #freshwaterfishing
                    </p>
                </blockquote>
            </div>
            <div class="fb-post" data-href="https://www.facebook.com/DUOJPN/posts/4547296222008633"
                data-show-text="true" data-width="">
                <blockquote cite="https://www.facebook.com/DUOJPN/posts/4547296222008633" class="fb-xfbml-parse-ignore">
                    <p>Manic 95:
                        It never gets old watching these fish smash the surface! The natural action produces plenty of
                        fish at the toughest of times!
                    </p>
                </blockquote>
            </div>

        </div>

    </div>